
@font-face {
	src: url(http://fonts.googleapis.com/css?family=Sintony:400,700);
	
}
img {
display: block;
width: 66%;
border: 2px solid black;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}


body{font-family:Helvetica,sans-serif;text-align:left;margin:0;font-size:16px}
p{color:#565656;font-size:1.4em;}
hr {height:1px;display:block;height:1px;border:0;border-top:1px solid #ccc;margin: 0;padding:0;}
hr.mediumwidth{margin:2.5em auto}
a{text-decoration:none}
.mediumwidth{font-size:16px;width:40%;margin-left:30%;margin-top:.3em;margin-bottom:.3em}
@media(max-width:870px){.mediumwidth{width:70%;margin-left:0%}}
@media(max-width:520px){.mediumwidth{width:100%;margin-left:0} hr.mediumwidth{width:auto}}
@media(max-width:300px){.mediumwidth{width:100%;margin-left:25%} hr.mediumwidth{width:auto}}

.thin{font-weight:100}
	h1{font-family: 'Roboto',sans-serif;font-weight:700;color:#5AB8E3;letter-spacing:-.05em;text-align:center;line-height:3em;}
	h2.sintony{font-family: 'Sintony', sans-serif;font-weight:700;color:#E04E10;}
	h2.slabo27px{font-family:'Slabo 27px',serif;color:#E04E10;font-weight:normal;}
	h2.default{color: #5AB8E3;font-weight:300;}
	h2.roboto{font-family:'Roboto',sans-serif;color: #5AB8E3;font-weight:300;}
	h3.default{color:#E04E10;font-weight:300;font-size:1.5em;line-height:1em;margin-bottom:-.5em;	}
	h3.slabo27px{font-family:'Slabo 27px',serif;color:#5AB8E3;font-weight:normal;font-size:1.5em;line-height:1em;;margin-bottom:-.5em;}
	h4{font-weight:400;color: rgba(0, 0, 0, 0.8);}
	h4.slabo27px{font-family:'Slabo 27px',serif;color:#E04E10;font-weight:300;font-size:1.3em;line-height:1em;margin-bottom:-.5em;	}
	p.signika{font-family: 'Signika',sans-serif;font-weight:300;color:#4C5058;font-size: 1.4em;}
	p.sintony{font-family: 'Sintony',sans-serif;font-weight:400;color:#4C5058;font-size: 1.2em;line-height: 1.7em;}
	p.average {font-family: 'Average',serif;font-weight:400;}
	p.ebgaramond {font-family: 'EB Garamond',serif;font-weight:400;color: rgba(0, 0, 0, 0.8);}

textarea,input{border:1px solid lightgray;outline:0;padding:6px;font-size:.8em;font-family:Helvetica,sans-serif}
textarea.smooth,input.smooth{transition:border .15s ease-in-out}
textarea:focus,input:focus{border:1px solid #57abb3}
textarea,input[type='text']{width:13em}
.addon-front{padding:6px 11px 6px 10px;margin-right:-2px;border:1px solid lightgray;z-index:400;display:inline-block;border-right:0;font-size:.8em;font-family:Arial Unicode MS Regular,sans-serif !important}
.navbar{width:100%;background:black;color:white;text-align:left;height:1.5em;padding:1em 0 .6em}.
pagename{color:white;padding:0 1em 0 2em;font-weight:bold}
.navbar-link{padding:.5em;color:#aaa}
.navbar-link:hover{color:white}

