img {
display: block;
width: 66%;
border: 2px solid black;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}


body{font-family:Helvetica,sans-serif;text-align:left;margin:0;font-size:16px}
p{color:#565656;font-size:1.4em;}
hr {height:1px;display:block;height:1px;border:0;border-top:1px solid #ccc;margin: 0;padding:0;}
hr.mediumwidth{margin:2.5em auto}
a{text-decoration:none}
.mediumwidth{font-size:16px;width:40%;margin-left:30%;margin-top:.3em;margin-bottom:.3em}
@media(max-width:870px){.mediumwidth{width:70%;margin-left:0%}}
@media(max-width:520px){.mediumwidth{width:100%;margin-left:0} hr.mediumwidth{width:auto}}
@media(max-width:300px){.mediumwidth{width:100%;margin-left:25%} hr.mediumwidth{width:auto}}
