img {
display: block;
width: 66%;
border: 2px solid black;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}


body{font-family:Helvetica,sans-serif;text-align:left;margin:0;font-size:16px}
p{color:#565656;font-size:1.4em;}
hr {height:1px;display:block;height:1px;border:0;border-top:1px solid #ccc;margin: 0;padding:0;}
hr.mediumwidth{margin:2.5em auto}
a{text-decoration:none}
.mediumwidth{font-size:16px;width:40%;margin-left:30%;margin-top:.3em;margin-bottom:.3em}
@media(max-width:870px){.mediumwidth{width:70%;margin-left:0%}}
@media(max-width:520px){.mediumwidth{width:100%;margin-left:0} hr.mediumwidth{width:auto}}
@media(max-width:300px){.mediumwidth{width:100%;margin-left:25%} hr.mediumwidth{width:auto}}

.thin{font-weight:100}
h1{color:#262626;font-size:4em;margin:0}
h1.title{font-size:6em;letter-spacing:-.05em;}
h2{color:#262626;font-size:2em}
h3{color: #767676;}

button{background:#afafaf;float:left;font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif;box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;color:#f3f3f3 !important;display:inline-block;font-size:1em;padding:15px 40px 16px;text-align:center;text-decoration:none;margin:margin: 0 0 1em 0;border:1px solid #000;cursor:pointer}
button.smooth{transition:background-color .15s ease-in-out}
button.btn-a{background:#345eb3;border:1px solid #1d3464}
button.btn-a:hover{background:#29498b}
button.btn-a:active{background:#1d3464}
button.btn-b{background:#51a351;border:1px solid #2f5f2f}
button.btn-b:hover{background:#408140}
button.btn-b:active{background:#2f5f2f}
button.btn-c{background:#da2727;border:1px solid #841717}
button.btn-c:hover{background:#b01e1e}
button.btn-c:active{background:#841717}
button.btn-small{padding:7px 19px 10px;font-size:16px}
